<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>310705780847-pi5fm5h229d0nie4ur0vlde9qhlv79fn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHN0IshiQbLzuPAuGRHoD_sL1dirpl0LA</string>
	<key>GCM_SENDER_ID</key>
	<string>310705780847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SanskarEP</string>
	<key>PROJECT_ID</key>
	<string>sanskar-employee-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>sanskar-employee-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310705780847:ios:e99ce9766595b714ccf59a</string>
</dict>
</plist>