<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SanskarEP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
				<key>dateExpires</key>
				<string>21/03/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KVKCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.21</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C121AB1278F2C0643782B9549A3B8E1D36F591B1</string>
						<key>dateExpires</key>
						<string>21/03/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BMX4SN26T</string>
						<key>name</key>
						<string>SANSKAR INFO TV PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7BMX4SN26T.com.SanskarEP</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7BMX4SN26T</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SanskarEP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4a322ee0-593a-499c-a117-b04473680799</string>
				<key>dateExpires</key>
				<string>21/03/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.SanskarEP</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7BMX4SN26T</string>
				<key>name</key>
				<string>SANSKAR INFO TV PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
